*~
Thumbs.db
*.generated.cs
_ReSharper.*
*.resharper.user
*.suo
*.user
*.sln.cache
*.swp
*.log*
*/*/*log.txt
Generated
obj
src/*/bin
src/*/*/bin
.setup-done
specs/*
db/*/WorkingTemp
pkg
GitRevision.txt
*.migrate
.build.*
